<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Tugas Week3 Vue</title>
</head>
<body>
     <div id="app">
        <div class="order-detail">
            <hr>
            <fieldset>
            <legend>Buat Data Diri Siswa</legend>
            Nama Siswa: <input type="text" v-model:value="nama"><br>
            Umur Siswa: <input type="number" v-model:value="umur" min="6" max="19" />Tahun<br>
            Nama Orangtua: <input type="text" v-model:value="ortu"><br>
            Tingkatan: <select v-model:value="level">
                <option>SD</option>
                <option>SMP</option>
                <option>SMA</option>
            </select>
            Kelas: <input type="number" v-model:value="kls">
            Nama Wali Kelas:<input type="text" v-model:value="wali">
            Jurusan:<input type="text" v-model:value="jrs">
        </div>
        </fieldset>
        <label>
            <input type="checkbox" v-model:value="showData">Tampilkan Data
        </label>
        <div class="detail" v-if="showData">
            <p v-if="umur >= 16">Nama saya {{ nama }}, umur saya {{ umur }}
                dan nama orang tua saya {{ ortu }}. Saya sudah {{ level }} kelas {{ kls }} dengan jurusan {{ jrs }}</p>
            <p v-else-if="umur >= 12">Nama saya {{ nama }}, umur saya {{ umur }}
                dan nama orang tua saya {{ ortu }}. Saya masih {{ level }} kelas {{ kls }}</p>
            <p v-else-if="umur >= 6">Nama saya {{ nama }}, umur saya {{ umur }}
                dan nama orang tua saya {{ ortu }}. Saya masih {{ level }} kelas {{ kls }}</p>  
            <p v-else>Nama saya {{ nama }}, umur saya {{ umur }}
                dan nama orang tua saya {{ ortu }}. Saya masih {{ level }} kelas {{ kls }}</p>
            </div>
    </div>

    <script src="tugas_vue.js"></script>
</body>
</html>