<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    
    <title>Document</title>
</head>

<body>
    <!-- <div id="app">
        {{ message }}
    </div> -->

    <!-- <div id="app">
        <input type="text" v-bind:value="message"> 
        <p>{{ message }}</p>
    </div>  -->

    <!-- <div id="app">
        <input type="text" v-model:value="message">
        <p>{{ message }}</p>
    </div> -->

    <!-- <div id="app">
        <div>
            <input type="url" v-model:value="url" placeholder="Link Gambar"> </br>
            <input type="text" v-model:value="caption.text" placeholder="Caption untuk image">
            <br>
            <select v-model:value="caption.attr">
                <option>title</option>
                <option>alt</option>
            </select>
        </div>
    
        <div>
            <img v-bind:src="url" v-bind:[caption.attr]="caption.text" />
            <p>Caption diberikan pada atribut
                <code>{{ caption.attr }}</code>
                dengan isi "{{caption.text}}"</p>
        </div>
    </div> -->

    <!-- <div id="app">
        <fieldset>
            <legend>Buat Artikel</legend>
            <p><input type="text" v-model:value="title" placeholder="Judul Artikel"></p>
            <p><textarea v-model:value="content"></textarea></p>
        </fieldset>

        <div class="preview">
            <h1 v-text="title"></h1>
            <hr>
            <div v-html="content"></div>
            <hr>
            <p>Konten dalam plain text:</p>
            <div v-text="content"></div>
            <hr>
            <p>Yang ini cuma di-render sekali:</p>
            <div v-once>{{ content }}</div>
            </p>
        </div>
    </div> -->

    <!-- <div id="app">
        <div class="order-detail">
            <p>Ini adalah detail dari pesanan anda:</p>
            <hr>
            <img :src="cover" width="100">
            <h4>{{ name }}</h4>
            Qty: <input type="number" v-model:value="qty" min="1" max="10" />
            Total: Rp {{ price * qty }}
        </div>
        <hr>
        <label>
            <input type="checkbox" v-model:value="showBonus">Show Bonus
        </label>
        <div class="detail" v-if="showBonus">
            <p v-if="qty >= 10">Maaf kamu hanya boleh beli
                {{ qty }} aja yah.. soalnya kita gak punya banyak stock</p>
            <p v-else-if="qty >= 5">Whoaa tukang borong nih!</p>>
            <p v-else-if="qty >= 2">Selamat! Kamu dapat bonus, karena membeli
                {{ qty }} buku</p>  
            <p v-else>Beli lebih banyak lagi untuk dapatkan bonus :)</p>
            </div>
    </div> -->

    <div id="app">
        <h2>Daftar Pekerjaan:</h2>
        <input type="text" placeholder="tambah pekerjaan" v-model:value="newTask" />
        <button @click="addTask">Add</button>
        <ul>
            <li v-for="item in todolists">
                <s v if="item.done">{{ item.task }}</s>
                <b v-else>{{ item.task }}</b>
            </li>
        </ul>
    </div>

    <script src="index.js"></script>
</body>
</html>